<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Item</title>
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/hibachi-chicken.css">

    <link rel="manifest" href="../static/manifest.webmanifest">
    <link rel="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="apple-mobile-web-app-title" content="TeamZ">
</head>

<body>
    <!-- SECTION 1: Navbar header -->
    <nav>
        <div class="nav-left">
            <a href="./"><img src="../static/images/logo.jpg" alt="Wolf's Den Logo" class="logo"></a>
            <a href="./menu" id="menu">MENU</a>
        </div>
        <div class="nav-right" id="nav-right">
            <div class="auth-buttons">
                <a href="./login" class="nav-button login">Log In</a>
                <a href="./signup" class="nav-button signup">Sign Up</a>
            </div>
        </div>
    </nav>

    <main>
        <!-- SECTION 2: The food details -->
        <div class="food-item-details">
            <!-- 2.1: Image on left side -->
            <img id="food-image" src="" alt="" class="food-image">
            <!-- 2.2: Details on right side -->
            <div class="item-info">
                <!-- 2.2.1: Title, calories, and price -->
                <div class="item-header">
                    <div class="item-title">
                        <h1 id="food-name"></h1>
                        <p class="calories"><span id="food-calories"></span> calories</p>
                    </div>
                    <p class="price">$<span id="food-price"></span></p>
                </div>
                <!-- 2.2.2: Description -->
                <p id="food-description" class="description"></p>
            </div>
        </div>

        <!-- SECTION 3: Quantity -->
        <div class="quantity-section">
            <label for="quantity">Quantity</label>
            <div class="quantity-selector">
                <input type="number" id="quantity" value="1" min="1" max="10">
                <div class="quantity-controls">
                    <button class="quantity-btn minus">-</button>
                    <button class="quantity-btn plus">+</button>
                </div>
            </div>
        </div>

        <!-- SECTION 4: Add to Order -->
        <div class="add-to-order">
            <button class="add-to-order-btn">Add to Order</button>
        </div>
    </main>
</body>
<script src="../static/js/logout.js"></script>
<script src="../static/js/food-item.js"></script>
<script src="../static/js/common.js"></script>

</html>