<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolf's Den</title>
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="manifest" href="../static/manifest.webmanifest">
    <link rel="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="apple-mobile-web-app-title" content="TeamZ">
</head>

<body>
    <!-- SECTION 1: Navbar header -->
    <nav>
        <div class="nav-left">
            <a href="./"><img src="../static/images/logo.jpg" alt="Wolf's Den Logo" class="logo"></a>
            <a href="./menu" id="menu">MENU</a>
        </div>
        <div class="nav-right" id="nav-right">
            <div class="auth-buttons">
                <a href="./login" class="nav-button login">Log In</a>
                <a href="./signup" class="nav-button signup">Sign Up</a>
            </div>
        </div>
    </nav>

    <main>
        <!-- SECTION 2: Left half of the body -->
        <div class="left-half">
            <h1>Wolf's Den</h1>
            <p>Craving some of the best hibachi in Raleigh? Fresh ingredients, hot-to-go meals, and easy ordering make the Wolf's Den 
                a popular choice among North Carolina State University students.</p>
            <a href="./menu" class="order-button">Order Now</a>
        </div>

        <!-- SECTION 3: Right half of the body -->
        <div class="right-half">
            <img src="../static/images/hibachi.jpg" alt="Hibachi" class="main-image">
        </div>
    </main>


</body>
<script src="../static/js/logout.js"></script>
<script src="../static/js/common.js"></script>

</html>