<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wolf's Den</title>
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/index.css">

    <link rel="manifest" href="../static/manifest.webmanifest">
    <link rel="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-mobile-web-app-status-bar-style" content="white">
    <link rel="apple-mobile-web-app-title" content="TeamZ">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/18.2.0/umd/react.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/18.2.0/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.23.5/babel.min.js"></script>
</head>

<body>
    <!-- React will mount here -->
    <div id="root"></div>

    <script type="text/babel">
        // Navbar
        const Navbar = () => {
            return (
                <nav>
                    <div className="nav-left">
                        <a href="./"><img src="../static/images/logo.jpg" alt="Wolf's Den Logo" className="logo" /></a>
                        <a href="./menu" id="menu">MENU</a>
                    </div>
                    <div className="nav-right" id="nav-right">
                        <div className="auth-buttons">
                            <a href="./login" className="nav-button login">Log In</a>
                            <a href="./signup" className="nav-button signup">Sign Up</a>
                        </div>
                    </div>
                </nav>
            );
        };

        // MainContent
        const MainContent = () => {
            return (
                <main>
                    <div className="left-half">
                        <h1>Wolf's Den</h1>
                        <p>Craving some of the best hibachi in Raleigh? Fresh ingredients, hot-to-go meals, and easy ordering make the Wolf's Den 
                            a popular choice among North Carolina State University students.</p>
                        <a href="./menu" className="order-button">Order Now</a>
                    </div>
                    <div className="right-half">
                        <img src="../static/images/hibachi.jpg" alt="Hibachi" className="main-image" />
                    </div>
                </main>
            );
        };

        // app
        const App = () => {
            return (
                <>
                    <Navbar />
                    <MainContent />
                </>
            );
        };

        const root = ReactDOM.createRoot(document.getElementById('root'));
        root.render(<App />);
    </script>

    <script src="../static/js/logout.js"></script>
    <script src="../static/js/common.js"></script>
</body>
</html>