<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offline</title>
    <link rel="stylesheet" href="../static/css/menu.css">
    <link rel="stylesheet" href="../static/css/offline.css">
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="./"><img src="../static/images/logo.jpg" alt="Wolf's Den Logo" class="logo"></a>
            <a href="./menu" id="menu">MENU</a>
        </div>
        <div class="nav-right">
            <div class="auth-buttons">
                <a href="./login" class="nav-button login">Log In</a>
                <a href="./signup" class="nav-button signup">Sign Up</a>
            </div>
        </div>
    </nav>

    <main>
        <h1>You're Offline</h1>
        <p>Please check your internet connection and try again.</p>
    </main>
</body>
<script src="../static/js/common.js"></script>

</html>