#menu {
    text-decoration: none !important;
    /* text-underline-offset: 5px; */
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* order placed #44 */
.order-confirmation h1 {
    color: #252525;
    margin-bottom: 0.5em;
}
/* pickup time and addy */
.pickup-info {
    font-size: 1.2em;
    color: #555;
}

/* container for the logo */
.confirmation-logo {
    margin-left: 2em;
    margin-right: 2em;
}
/* logo itself */
.logo-image {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
}





/* all of the orders */
.order-items {
    /* margin-top: 4em; */
    margin-bottom: 2em;
}
/* 'Your Order' */
.order-items h2 {
    color: #252525;
    margin-bottom: 0.4em;
    border-bottom: 2px solid #252525;
    padding-bottom: 0.5em;
}
.item {
    display: flex;
    align-items: center;
    padding: 1em;
    border-bottom: 1px solid #eee;
}
.item:last-child {
    border-bottom: none;
}

.food-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 1em;
}

.item-details h3 {
    margin: 0;
    color: #252525;
    font-size: 1.4em;
    margin-bottom: 0.2em !important;
}
.quantity {
    font-size: 0.9em;
    color: #616161;
}
